In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [5]:
season_mapping = {1: 'Spring', 
                  2: 'Summer', 
                  3: 'Fall', 
                  4: 'Winter'}
weather_mapping = {1: 'Clear', 
                   2: 'Mist, Few clouds', 
                   3: 'Light Snow, Rain, Thunder',
                   4: 'Heavy Snow, Rain, Thunder'}
weekday_mapping = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 
                   3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
workingday_mapping = {0: 'Working day', 1: 'Weekend or Holiday'}
holiday_mapping = {0: 'Working day', 1: 'Holiday'}

train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [6]:
train['holiday'] = train['holiday'].map(holiday_mapping)
train['workingday'] = train['workingday'].map(workingday_mapping)
train['season'] = train['season'].map(season_mapping)
train['weather'] = train['weather'].map(weather_mapping)

test['holiday'] = test['holiday'].map(holiday_mapping)
test['workingday'] = test['workingday'].map(workingday_mapping)
test['season'] = test['season'].map(season_mapping)
test['weather'] = test['weather'].map(weather_mapping)

# train['weekday'] = train['weekday'].map(holiday_mapping)

In [7]:
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,Spring,Working day,Working day,Clear,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,Spring,Working day,Working day,Clear,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,Working day,Working day,Clear,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,Working day,Working day,Clear,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,Spring,Working day,Working day,Clear,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,Working day,Weekend or Holiday,Clear,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,Working day,Weekend or Holiday,Clear,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,Winter,Working day,Weekend or Holiday,Clear,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,Working day,Weekend or Holiday,Clear,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,Working day,Weekend or Holiday,Clear,13.12,16.665,66,8.9981,4,84,88

In [8]:
test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,12.880,56,11.0014
...,...,...,...,...,...,...,...,...,...
6488,2012-12-31 19:00:00,Spring,Working day,Weekend or Holiday,"Mist, Few clouds",10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,Spring,Working day,Weekend or Holiday,"Mist, Few clouds",10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,Spring,Working day,Weekend or Holiday,Clear,10.66,13.635,65,8.9981

In [9]:
train.to_csv('train_str.csv', index=None)
test.to_csv('test_str.csv', index=None)